img {
    width: 100%;
}

header {
    display:flex;
    background-color: black;
    color:white;
    width: 100vw;
    height:5vh;
    
    
}
header h1 {
    display:flex;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    
    
}
header nav{
    display:flex;
    width:100%;
    height:100%;
    padding-left: 40%;
    vertical-align: middle;

}

nav ul {
    display:flex;
    color:white;
    list-style:none;
    width:100%;

    justify-content:space-around;
    font-family:Verdana;
   
    
    
}
#pi {
    font-size: 90px;
}

header a{
    display:flex;
    color:white;
    text-decoration:none;
    text-align:right;
}
